# Tests

In [1]:
import django

In [1]:
import mysql.connector

In [15]:
db = mysql.connector.connect(host="localhost", user="root", password="Khanzaman #1231", database="User_info")

In [3]:
db_cursor = db.cursor()
db_cursor.execute("SHOW TABLES")

In [11]:
db_cursor.execute("SHOW ")

In [4]:
for i in db_cursor:
    print(i)

('User_infSQ',)

In [18]:
val = ("John", "Highway 21", "shaqinair@gmail.com", "shaq inair")
sql = "INSERT INTO User_infSQ (user_name, Full_Name, email, password) VALUES (%s, %s, %s, %s);"
db_cursor.execute(sql, val)

db.commit()

print(db_cursor.rowcount, "record inserted.")

1 record inserted.

In [30]:
import numpy as np
import re
import pandas as pd
from getpass import getpass
import mysql.connector

data_base = mysql.connector.connect(host="localhost", user="root", password="Khanzaman #1231", database="User_info")
cursor = data_base.cursor()

class SignUp:

    def __init__(self,Full_Name,email,username,password, getting_updates=0):
        self.username = username
        self.password = password
        self.Full_Name = Full_Name
        self.email = email
        self.getting_updates = getting_updates

        #self.Full_Name = input("please enter your Full Name: ").strip()
        #self.email = input("please enter your email: ").strip()
        #self.username = input("please enter your username: ").strip()
        #self.password = getpass("please enter your password: ")

        # while self.getting_updates != "0" and self.getting_updates != "1":
        #     self.getting_updates = input("would you like get notified with updates via email (0,1): ").strip()



    def password_valid(self):
        pass

    def database(self):
        INSERTION_query = ("INSERT INTO User_info.User_infSQ (user_name, password, Full_Name, email, getting_updates) VALUES (%s, %s, %s, %s, %s)")
        Values = (self.username, self.password, self.Full_Name, self.email, self.getting_updates)
        cursor.execute(INSERTION_query, Values)
        data_base.commit()

In [31]:
signup = SignUp("mohammad Ishaq", "ishaqyar@gmail.com", 'moh_ishaq',"chabook1231")

In [32]:
signup.database()

In [1]:
import string

In [44]:
def username_context_validity(username):
        if " " in username:
            return False, "it's containing space(s)"
        
        name_peices = [*username]
        for i in name_peices:
            if i not in string.ascii_letters:
                return False, f"the username contains somthing else other than ENG alphabets: {i}"
                
        return True, "the user name is made of plain Alphabets"

In [45]:
username_context_validity("shaqinair")

(True, 'the user name is made of plain Alphabets')

In [66]:
def email_context_validity(email):
    valid_chars = string.ascii_letters+"-_."+string.digits       
    if "@" not in email:
        return False, "'@' is missing"
    
    usrnam, domain = email.split("@")
    for i in usrnam:
        if i not in valid_chars:
            return False, f"your email must not contain '{i}'"
        
    if "." not in domain:
        return False, "the domain is not in valid format"
    
    provider = domain.split(".")[0]
    return (True, provider, usrnam, domain)

In [71]:
email_context_validity("sultan.ishaq.321@gmail.com")

(True, 'gmail', 'sultan.ishaq.321', 'gmail.com')

In [67]:
string.ascii_letters+"-_."+string.digits

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ-_.0123456789'

In [4]:
import string

def password_context_validity(pas):
    valid_chars = string.ascii_letters+"-_."+string.digits 
    
    if ' ' in pas:
        return False, "the passcode must not contain spaces."
    
    for i in pas:
        if i not in valid_chars:
            return False, f"the passcode must only contain alphabets, digits, and (- _ .), {i}"
        
    return True, "valid passcode."

In [7]:
password_context_validity("Khanzaman1231")

(True, 'valid passcode.')

In [74]:
import mysql.connector
database = mysql.connector.connect(host="localhost", user="root", password="Khanzaman #1231", database="User_info")
cursoe = db.cursor()

In [80]:
def email_uniqueness(email):
    cursor = database.cursor()
    cursor.execute(f"SELECT user_name FROM User_info.User_infSQ WHERE email = '{email}';")
    lis = cursor.fetchall()
    
    try:
        if len(lis):
            k.extend(i)
            return False, f"the email exists, and it's with {lis[0]}"
    except Exception as e:
        return False, f"{e}"
    
    return True, f"your {email} email is unique."

In [86]:
email = "aimal@xyz.com"

In [90]:
cursor = database.cursor()

In [93]:
    def username_uniqueness(self):
        cursor.execute(f"SELECT user_name FROM User_info.User_infSQ WHERE Full_Name = '{self}';")
        lis = cursor.fetchall()
        
        try:
            if len(lis):
                return False, f"the username exists, and it's with {lis[0]}"
        except Exception as e:
            return False, f"{e}"
        
        return True, f"the {self} username is unique."

In [94]:
username_uniqueness("emirkhan")

(True, 'the emirkhan username is unique.')

In [98]:
self="emirkhan"

In [102]:
cursor.execute(f"SELECT Full_Name FROM User_info.User_infSQ WHERE user_name = '{self}';")
len([*cursor.fetchall()])

6

In [16]:
cursor = db.cursor()

In [4]:
cursor.execute(f"SELECT * FROM User_info.User_infSQ WHERE user_name = 'yunuskhan';")

lis = cursor.fetchall()
lis

[('yunuskhan',
  'yunus khan',
  'yunus@xyz.com',
  'yunusdF_33',
  '0',
  datetime.datetime(2023, 4, 2, 23, 17, 46))]

In [11]:
    def search_for_existence():
        cursor.execute(f"SELECT * FROM User_info.User_infSQ WHERE user_name = 'ishaqpaktin';")
        lis = cursor.fetchall()
        if lis == []:
            return False, "the username is not found"
        else:
            lis = lis[0]
            self.Full_Name = lis[1]
            self.email = lis[2]
            self.getting_updates = lis[4]
            self.created_at = lis[5]

            if self.password == lis[3]:
                return True, "the password is correct"
            else:
                return False, "the password is incorrect"

In [12]:
search_for_existence()

NameError: name 'self' is not defined

In [13]:
import numpy as np
import re
import pandas as pd
from getpass import getpass
import mysql.connector
# import SignUp as SU

data_base = mysql.connector.connect(host="localhost", user="root", password="Khanzaman #1231", database="User_info")
cursor = data_base.cursor()

class Login:

    def __init__(self,username,password):
        self.username = username
        self.password = password

        # self.username = input("please enter your username: ").strip() # strip for removing spaces
        # self.password = getpass("please enter your password: ")


    def search_for_existence(self):
        cursor.execute(f"SELECT * FROM User_info.User_infSQ WHERE user_name = '{self.username}';")
        lis = cursor.fetchall()
        if lis == []:
            return False, "the username is not found"
        else:
            lis = lis[0]
            self.Full_Name = lis[1]
            self.email = lis[2]
            self.getting_updates = lis[4]
            self.created_at = lis[5]

            if self.password == lis[3]:
                return True, "the password is correct"
            else:
                return False, "the password is incorrect"


    def decryption(self):
        pass

    def __str__(self):
        return f"{self.username}, {self.password}, {self.Full_Name}, {self.email}, {self.getting_updates}, {self.created_at}"


# TESTS

user = Login("ishaqpaktin","Khanman-_22")
print(user.search_for_existence())
print(user)

(True, 'the password is correct')
ishaqpaktin, Khanman-_22, ishaq paktin yar, shaqiniar@gmail.com, 1, 2023-04-02 22:35:01

In [7]:
import getpass

In [12]:
username = "ishaqpaktin"
def forgot_password():
    if True:
        new_password = getpass.getpass("enter your new password: ")
        cursor.execute(f"UPDATE User_infSQ SET password_ = '{new_password}' WHERE user_name = '{username}';" )
        cursor.execute(f"SELECT password_ FROM User_infSQ WHERE user_name = '{username}';")
        print(cursor.fetchall())

In [13]:
forgot_password()

enter your new password: ········
[('kHANZAMA__99',)]

In [20]:
cursor.close()

True

In [17]:
cursor.execute("SELECT * FROM User_infSQ WHERE user_name = 'ishaqpaktin';")
cursor.fetchall()

[('ishaqpaktin',
  'ishaq paktin yar',
  'shaqiniar@gmail.com',
  'Khanman-_22',
  '1',
  datetime.datetime(2023, 4, 2, 23, 17, 46))]

In [11]:
import pandas as pd
import numpy as np

In [33]:
import pymssql

conn = pymssql.connect(
    host=r'ishaqpaktin.mssql.somee.com',
    user=r'shaqinair_SQLLogin_2',
    password=r'ixwst4vtbl',
    database='ishaqpaktin'
)
cursor = conn.cursor(as_dict=True)

In [34]:
cursor.execute("SELECT * FROM khan;")
data = cursor.fetchall()
data_df = pd.DataFrame(data)

cursor.close()

In [35]:
data_df

               user_name           Full_Name
0                    322                 321
1                    1.0  1.0066004400293354
2     1.0132008800586705  1.0198013200880058
3     1.0264017601173412  1.0330022001466765
4     1.0396026401760117   1.046203080205347
...                  ...                 ...
1105  15.573771584772318  15.580372024801655
1106  15.586972464830989  15.593572904860325
1107   15.60017334488966  15.606773784918996
1108   15.61337422494833  15.619974664977667
1109  15.626575105007001  15.633175545036336

[1110 rows x 2 columns]

In [28]:
def insert(username, Full_Name):
    INSERTION_query = ("INSERT INTO khan VALUES (%d, %d);")
    Values = (username, Full_Name)    
    cursor.execute(INSERTION_query, Values)

In [12]:
u=np.linspace(1,100, 15000)
v=np.linspace(1,50, 15000)

In [13]:
u

array([  1.        ,   1.00660044,   1.01320088, ...,  99.98679912,
        99.99339956, 100.        ])

In [16]:
v

array([ 1.        ,  1.00326688,  1.00653377, ..., 49.99346623,
       49.99673312, 50.        ])

In [19]:
u_=u.reshape((7500,2))

In [31]:
for x,y in u_[:][1110:]:
    insert(x,y)

KeyboardInterrupt: